<p>header works!</p>
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú de Navegación</title>
  <link rel="stylesheet" href="header.component.css">

</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a routerLink="inicio">Inicio</a></li>
        <li><a routerLink="inicio/acercade">Acerca de</a></li>
        <li><a routerLink="inicio/articulo">Artículo</a></li>
        <li><a routerLink="inicio/contacto">Contacto</a></li>
        <li><a routerLink="inicio/imagenes">Imágenes</a></li>
        <li><a routerLink="inicio/personas">Personas</a></li>
      </ul>
    </nav>
  </header>
  <!-- El contenido de tu página va aquí -->
</body>

</html>
