.imagenes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.imagen {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.imagen:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
