<p>imagenes works!</p>
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>

<body>
  <div class="imagenes-container">
    <img class="imagen" src="assets/image/aguila.jpg" alt="Imagen 1">
    <img class="imagen" src="assets/image/lago.jpg" alt="Imagen 2">
    <img class="imagen" src="assets/image/leon.jpg" alt="Imagen 3">
    <img class="imagen" src="assets/image/noche.jpg" alt="Imagen 4">
    <img class="imagen" src="assets/image/aguila.jpg" alt="Imagen 1">
    <img class="imagen" src="assets/image/lago.jpg" alt="Imagen 2">
    <img class="imagen" src="assets/image/leon.jpg" alt="Imagen 3">
    <img class="imagen" src="assets/image/noche.jpg" alt="Imagen 4">
  </div>
  <h1>¡Mis imagenes favoritas!</h1>

</body>




</html>
