<p>articulo works!</p>
<div class="articulo">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eligendi
    quidem iste, porro facilis alias rem necessitatibus consequatur ipsam quasi
    inventore minus voluptate, esse provident facere dolorem rerum harum
    molestias.
  </p>
  <h1>{{ nombreVideo }}</h1>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube-nocookie.com/embed/a60EY8PdAro?si=u2KqdRtSe9unN6sh"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>
